<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="stud1" class="com.example.demo.beans.Student"
		lazy-init="true" scope="singleton" init-method="myInit_1"
		destroy-method="myDestroy">
		<property name="name" value="Srinivas" />
	</bean>

	<bean id="stud2" class="com.example.demo.beans.Student"
		init-method="myInit_2" destroy-method="myDestroy">
		<constructor-arg value="Praveen" />
	</bean>
	
	<bean class="java.util.ArrayList" id="studentsList">
	  <constructor-arg>
	  	<list>
	  		<ref bean="stud1"></ref>
	  		<ref bean="stud2"></ref>	  		
	  	</list>
	  </constructor-arg>
	</bean>
</beans>